Node-red/Lab2/Exercise 2.json
[
    {
        "id": "40d19919a88d1bd2",
        "type": "tab",
        "label": "Exercise 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "51669c974e1bd0df",
        "type": "chatbot-telegram-receive",
        "z": "40d19919a88d1bd2",
        "bot": "4b3eacd28b0795a0",
        "botProduction": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "4817138fa43be896",
                "a0b427abfc89d048"
            ]
        ]
    },
    {
        "id": "10c8d779714eac2a",
        "type": "chatbot-telegram-send",
        "z": "40d19919a88d1bd2",
        "bot": "4b3eacd28b0795a0",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "4817138fa43be896",
        "type": "debug",
        "z": "40d19919a88d1bd2",
        "name": "Show Incoming Msg!",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "6e439e12f931b786",
        "type": "openweathermap",
        "z": "40d19919a88d1bd2",
        "name": "Milan Weather",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Milan",
        "country": "IT",
        "language": "en",
        "x": 600,
        "y": 300,
        "wires": [
            [
                "0a3b70149f00647b"
            ]
        ]
    },
    {
        "id": "55c1cec96b8feb09",
        "type": "openweathermap",
        "z": "40d19919a88d1bd2",
        "name": "Rome Weather",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Rome",
        "country": "IT",
        "language": "en",
        "x": 600,
        "y": 360,
        "wires": [
            [
                "0a3b70149f00647b"
            ]
        ]
    },
    {
        "id": "d9e87efd7cfaea9b",
        "type": "file",
        "z": "40d19919a88d1bd2",
        "name": "Write usernames log",
        "filename": "TelegramUsernames",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 620,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a0b427abfc89d048",
        "type": "function",
        "z": "40d19919a88d1bd2",
        "name": "Compute Response",
        "func": "if (msg.payload.content == \"What's your name?\") {\n    msg.payload.content = \"I am the NSDS Telegram Bot!\";\n    delete msg.ts;\n    delete msg.transport;\n    msg.payload.inbound = false;\n    msg.payload.fallback = null;\n    return [msg, null, null, null];\n} if (msg.payload.content.startsWith(\"My name is\")) {\n    let username = msg.payload.content.substring(11);\n    msg.payload.content = \"Hello \" + username + \"!\";\n    delete msg.ts;\n    delete msg.transport;\n    msg.payload.inbound = false;\n    msg.payload.fallback = null;\n    let fileMsg = {\n        payload: username,\n    };\n    return [msg, null, null, fileMsg];\n} else if (msg.payload.content == \"What's the temperature in Milan?\") {\n    return [null, msg, null, null];\n} else if (msg.payload.content == \"What's the temperature in Rome?\") {\n    return [null, null, msg, null];\n} else {\n    msg.payload.content = \"I don't get what you're asking...\";\n    delete msg.ts;\n    delete msg.transport;\n    msg.payload.inbound = false;\n    msg.payload.fallback = null;\n    return [msg, null, null, null];\n}\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 320,
        "wires": [
            [
                "10c8d779714eac2a"
            ],
            [
                "6e439e12f931b786"
            ],
            [
                "55c1cec96b8feb09"
            ],
            [
                "d9e87efd7cfaea9b"
            ]
        ]
    },
    {
        "id": "0a3b70149f00647b",
        "type": "chatbot-message",
        "z": "40d19919a88d1bd2",
        "name": "Compose Message",
        "message": [
            {
                "message": "The temperature in {{payload.location}} is {{payload.tempc}}! "
            }
        ],
        "language": "none",
        "x": 890,
        "y": 260,
        "wires": [
            [
                "10c8d779714eac2a"
            ]
        ]
    },
    {
        "id": "4b3eacd28b0795a0",
        "type": "chatbot-telegram-node",
        "botname": "Node-RED Lab",
        "usernames": "",
        "polling": "500",
        "store": "",
        "log": "",
        "debug": false,
        "skipMediaFiles": false,
        "webHook": "",
        "connectMode": "polling",
        "storeMessages": true,
        "enableMissionControl": false,
        "inspectMessages": true,
        "chatbotId": ""
    },
    {
        "id": "85e782c03a68e490",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-chatbot": "1.2.4",
            "node-red-node-openweathermap": "1.0.1"
        }
    }
]